.button-section{
    display: flex;
    padding: 10px;
    margin: 10px;

}
.skill-section{
    display: flex;
    justify-content: space-between;
}
.button-section-2{
    background-color: grey;
    width: '100%'
}
.availability{
    display: flex;
    justify-content: space-between;
    padding:10px;
    
}
.card-1{
    margin-right: 10px;
}
